
{% extends 'base.html' %}
{% load static %}

{% block content %}


    
{% for post in featured_post %}
    {% if forloop.first %} <!--display only post coming in the first loop-->
        {% if post.featured_image %}
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{ post.featured_image.url }});background-blend-mode: overlay;background-size:cover;">
        {% else%}
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({% static 'images/cricket.jpg' %});background-blend-mode: overlay;background-size:cover;">

        {% endif %}
              <div class="col-md-8 px-0">
                  <h1 class="display-4 font-italic">{{post.title}}</h1>
                  <p class="lead my-3">{{post.short_description | truncatewords:30 }}</p>
                  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
              </div>
            </div>
  {% endif %}

  {% endfor %}

  <!--display only post coming in the first loop-->

  <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Category - {{thecategory}}</h3>


  <div class="row mb-2">
    {% if thepost %}
    {% for post in thepost %}
         
    <div class="col-md-6">
      <div class="card border-0" >
          <div class="card-body">
          <h3>{{post.title}}</h3>
          {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" class="img-fluid" style="width: 600px; height: 300px;" alt="...">
          {% else%}
          <img src="{% static 'images/cricket.jpg' %}" class="img-fluid" style="width: 600px; height: 300px;" alt="...">

          {% endif %}
          <small class="mb-1 text-muted">{{post.created_at | timesince }} ago | {{post.author}}</small>
          <p class="card-text">{{post.short_description | truncatewords:30 }}</p>
          <!--you can also use which would display 30 characters | truncatechars:30-->
         
        </div>
      </div>
    </div>
  
    {% endfor %}
    {% else %}
    <p>No post found </p>

    {% endif %}
    
  </div>

  

  

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>

{% endblock %}