
{% extends 'base.html' %}
{% load static %}

{% block content %}


    
{% for post in featured_post %}
    {% if forloop.first %} <!--display only post coming in the first loop-->
        {% if post.featured_image %}
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{ post.featured_image.url }});background-blend-mode: overlay;background-size:cover;">
        {% else%}
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({% static 'images/cricket.jpg' %});background-blend-mode: overlay;background-size:cover;">

        {% endif %}
              <div class="col-md-8 px-0">
                  <h1 class="display-4 font-italic"><a href="{% url 'single_blog' post.id %}" class="text-white">{{post.title}}</a></h1>
                  <p class="lead my-3">{{post.short_description | truncatewords:30 }}</p>
                  <p class="lead mb-0"><a href="{% url 'single_blog' post.id %}" class="text-white font-weight-bold">Continue reading...</a></p>
              </div>
            </div>
  {% endif %}

  {% endfor %}

  <!--display only post coming in the first loop-->

  <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Featured Posts</h3>


  <div class="row mb-2">
    {% for post in featured_post %}
      {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
          <div class="card-body">
          <h3><a href="{% url 'single_blog' post.id %}" class="text-dark">{{post.title}}</a></h3>
          {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" class="img-fluid" style="width: 600px; height: 300px;" alt="...">
          {% else%}
          <img src="{% static 'images/cricket.jpg' %}" class="img-fluid" style="width: 600px; height: 300px;" alt="...">

          {% endif %}
          <small class="mb-1 text-muted">{{post.created_at | timesince }} ago | {{post.author}}</small>
          <p class="card-text">{{post.short_description | truncatewords:30 }}</p>
          <!--you can also use which would display 30 characters | truncatechars:30-->
         
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    
  </div>

  <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Recent Articles</h3>

  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
        {% for thepost in post %}
    <div class="card border-0">
        <div class="card-body">
            <h3><a href="{% url 'single_blog' thepost.id %}" class="text-dark">{{ thepost.title }}</a></h3>
            <small class="mb-1 text-muted">{{ thepost.created_at | timesince }} ago | {{ thepost.author }}</small>
            <p class="card-text">{{ thepost.short_description | truncatewords:50 }}</p>
            {% if thepost.video %}
                <video controls class="img-thumbnail">
                    <source src="{{ thepost.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif thepost.featured_image %}
                <img src="{{ thepost.featured_image.url }}" class="img-thumbnail" alt="...">
            {% else %}
                <img src="{% static 'images/cricket.jpg' %}" class="img-thumbnail" alt="...">
            {% endif %}
        </div>
    </div>
{% endfor %}

           


    </div>
    <!-- /.blog-main -->
    



    {% include 'includes/sidebar.html' %}

    

      

    </div><!-- /.row -->
    
    

  </main><!-- /.container -->

</div>


{% endblock %}