{% extends 'base.html' %}

{% block content %}

<div class="row"> 

    {% include 'Dash/dashsidebar.html' %}
    
    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2>Edit User</h2>

       <form action="{% url 'editusers' theuser.id %}" method="POST"> <!-- added multipart/form-data bcos we would be uploading image-->

        
        {% csrf_token %}

        {{ form }}

        <button type="submit" class="btn btn-warning btn-sg">Submit</button>
       </form>
       {% else %}
       <h5> you do not have permision to view this page</h5>
       {% endif %}
       <br>
        
    
    </div>


</div>


{% endblock %}